@font-face {
	font-family: 'Raleway', sans-serif;
	font-family: 'Lola', serif;
	src: url('https://fonts.googleapis.com/css?family=Lora|Raleway')
	}
body {
    background-color: #171123;
}

h1 {
	font-family: Raleway;
    color: #414770;
    margin-left: 10px;
    line-height: 40px;
}
h2 {
	font-family: Raleway;
    color: #F29335;
    margin-left: 10px;
    line-height:40px;
}
p {
	font-family: Lora;
    color: #5B85AA;
    margin-left: 10px;
    line-height: 25px;
}
ol {
	color: #F2BC35;
	margin-left: 20px;
}