@font-face {
    font-family: 'Raleway', sans-serif;
    font-family: 'Lola', serif;
    src: url('https://fonts.googleapis.com/css?family=Lora|Raleway')
    }
body {
    background-color: #453F3C;
}

h1 {
    font-family: Raleway;
    color: #C1EDCC;
    margin-left: 30px;
    line-height: 40px;
}
h2 {
    font-family: Raleway;
    color: #B0C0BC;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}
h3 { font-family: Raleway;
    color: #D8D8D8;
    margin-left: 30px;
  }

p {
    font-family: Raleway;
    color: #A7A7A9;
    margin-left: 30px;
    line-height: 25px;
}

ul.notbulletlist {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   border: 1px solid #e7e7e7;
   background-color: #f3f3f3;
}

li.notbullet {
   float: left;
   font-size: 20px;
   line-height: 30px;
   display: inline;
   color: #666;
   text-align: center;
   text-decoration: none;
     padding: 14px 10px;
   font-family: Raleway;
}

li.notbullet a:hover:not(.active) {
   background-color: #C1EDCC;
     padding: 14px 10px;
}

li.bullet {
    font-family: Raleway;
    margin-left: 20px;
}

ol {
    color: #D8D8D8;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 80px;
    padding: 10px;
    font-family: Raleway;
}

li {
    float: left;
    display:inline;
    font-size: 20px;
}

li a {
    display: inline;
    color: #666;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-family: Raleway;
}

li a:hover:not(.active) {
    background-color: #C1EDCC;
}



.active {
    color: white;
    background-color: #C1EDCC;
      padding: 14px 10px;
}

.wrapper {
  margin: 0 auto;
  max-width: 56.25rem; /* 900px */
  padding-left : 2rem;
}

.float_basics main {
  margin: 0;
  padding: 0 20px;
}

.float_basics aside {
  border: 1px solid black;
  float: right;
  margin: 0 0 10px 20px;
  padding: 0 20px;
  width: 250px;
}

.float_2col_fixed header {
  border-bottom: 2px solid rgb(14, 179, 116); /* green */
}

.float_2col_fixed header h1 {
  margin-top: 0;
}

.float_2col_fixed main,
.float_2col_fixed aside {
  float: left;
}

.float_2col_fixed main {
  padding-right: 20px;
  width: 400px; 
}

.float_2col_fixed aside {
  padding-left: 20px;
  width: 400px; 
}

p.ex1 {
    padding-top: 55px;
}

p.ex2 {
   margin-left: 0px
}
